.hero { 
  background-image: url("https://res.cloudinary.com/codingmamakaz/image/upload/v1569377899/cliff-dawn-daylight-1571108_cuelzy.jpg");
  background-repeat: no - repeat;
  background-size: cover;
}
