.hero { 
  background-image: url("https://res.cloudinary.com/codingmamakaz/image/upload/v1569377899/cliff-dawn-daylight-1571108_cuelzy.jpg");
  background-repeat: no - repeat;
  background-size: cover;
}

.card .card-content{
  height: 18rem;
}
.column {
  float: left;
}
.card-footer{
  margin-top: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
